name: Creating the PR to update the version of buildpacks/github-actions on buildpacks/registry-index
on:
  release:
    types: [published]
jobs:
  myEvent:
    runs-on: ubuntu-latest
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.DISTRIBUTION_GITHUB_TOKEN }}
          repository: buildpacks/registry-index
          event-type: release-event